.key {
  border-radius: 5px;
  border: rgb(92, 92, 92) 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-sizing: border-box;
  transition: transform 0.1s;
  transform-origin: top center;
  height: 100%;
}

.key.white {
  background-color: white;
}

.key.black {
  position: absolute;
  transform: scale(60%, 65%); 
  background-color: black;
  z-index: 10;
}

.key.white.pressed {
  transform: rotateX(10deg);
  box-shadow: inset 0 0 20px #606060;
}

.key.black.pressed {
  transform: scale(60%, 65%) rotateX(10deg);
  box-shadow: inset 0 0 20px #ffffff;
}

.key-label {
  display: flex;
  justify-content: center;
}

.key-label.white {
  color: black;
}

.key-label.black {
  color: white;
}
